body
{
background-color:white;
color: rgb(51, 97, 51);
}

header
{
  position: sticky;
  top: 0;
  background-color: antiquewhite;
  display: flex;
  gap: 2vw;
}

section:first-child{
  background-color: bisque;
  color: brown;
flex-grow:4;
}

.flex{
display: flex;
flex-direction:row;
flex-wrap: wrap;
gap: 1vh;
}




.flex-child
{
background-color:black;

}





@media only screen and (max-width:700px){
 
  .flex{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    gap: 1vh;
    }
    
    
    
    .flex:first-child
    {
    flex-grow:4;
    }
    
    
    .flex-child
    {
    background-color:black;
    
    }
}